.icon {
  width: 51px;
  height: 41px;
  padding: 3px;
}

.formControl {
  height: 62px;
  /* border-radius: 0; */
}

/* .btnSearch {
  position: absolute;
  right: 0;
  z-index: 999;
  background-color: #00a3ff;
  border-color: #00a3ff;
  border-radius: 0;
} */
