.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 39px 0 25px;
}

.icon {
  position: relative;
  display: inline-block;
  background-image: url('../../assets/github.svg');
  height: 40px;
  width: 40px;
  color: black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
